<?xml version="1.0" encoding="utf-8"?>
<Content Key="0989d86c-48bf-4b83-8719-9d05ce836620" Alias="Finance Reports" Level="2">
  <Info>
    <Parent Key="ad4ad5d7-e642-4995-9e5c-1c5d14ae735f">Homepage</Parent>
    <Path>/Homepage/FinanceReports</Path>
    <Trashed>false</Trashed>
    <ContentType>reportList</ContentType>
    <CreateDate>2022-11-16T03:22:10</CreateDate>
    <NodeName Default="Finance Reports" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="835d052c-092a-4f3f-ae40-1d3e099d2758">ReportList</Template>
  </Info>
  <Properties>
    <pageMetaDescription>
      <Value><![CDATA[]]></Value>
    </pageMetaDescription>
    <pageMetaTitle>
      <Value><![CDATA[]]></Value>
    </pageMetaTitle>
  </Properties>
</Content>