<?xml version="1.0" encoding="utf-8"?>
<Content Key="3668ecfa-779f-495e-b6a6-b7fdeac41707" Alias="Financial Statement Analysis" Level="3">
  <Info>
    <Parent Key="0989d86c-48bf-4b83-8719-9d05ce836620">Finance Reports</Parent>
    <Path>/Homepage/FinanceReports/FinancialStatementAnalysis</Path>
    <Trashed>false</Trashed>
    <ContentType>powerBIReportPage</ContentType>
    <CreateDate>2022-11-21T05:12:10</CreateDate>
    <NodeName Default="Financial Statement Analysis" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="66b343e7-3d71-4bfd-8006-e51238cdb61b">PowerBIReportPage</Template>
  </Info>
  <Properties>
    <pageMetaDescription>
      <Value><![CDATA[]]></Value>
    </pageMetaDescription>
    <pageMetaTitle>
      <Value><![CDATA[]]></Value>
    </pageMetaTitle>
    <powerBIEmbeddedReportUrl>
      <Value><![CDATA[https://app.powerbi.com/view?r=eyJrIjoiNGViNWUzZGEtYTlkMS00ZWZjLWExYjEtNTc1YWQ3NmZhYmY3IiwidCI6IjkxMTA0MDg5LWIzZWUtNGE0Mi1iM2IyLTY5YzdmMjMwNzFmYyJ9]]></Value>
    </powerBIEmbeddedReportUrl>
    <reportFullDescription>
      <Value><![CDATA[<p>This all-in-one Power BI template can help Businesses intuitively analyse <strong>Financial Statements</strong> (Balance Sheet, Profit &amp; Loss) for <strong>multiple entities</strong> in<strong> various periods</strong>. All figures can be analysed on <strong>monthly</strong> basis (MTD) or <strong>Year to date</strong> basis (YTD).</p>
<p>Moreover, the template provides <strong>variance analysis</strong> between <strong>actual and budget</strong> or <strong>current vs prior year</strong>. There are also various <strong>KPI ratios</strong> help Businesses quickly highly Financial risks.</p>
<p>For Financial analysis with your own data or for more templates, please visit here:</p>
<p><a rel="noopener nofollow noreferrer" href="https://dataxan.com/power-bi-templates/" target="_blank">https://dataxan.com/power-bi-templates/</a> </p>
<p> </p>
<p><strong>DaTaxan.com</strong></p>]]></Value>
    </reportFullDescription>
    <reportName>
      <Value><![CDATA[Financial Statement Analysis]]></Value>
    </reportName>
    <reportShortDescription>
      <Value><![CDATA[Report provides variance analysis between actual and budget or current vs prior year. There are also various KPI ratios help Businesses quickly highly Financial risks.]]></Value>
    </reportShortDescription>
  </Properties>
</Content>