<?xml version="1.0" encoding="utf-8"?>
<Content Key="2519de68-9a0b-4aa8-8980-9f0277ac3ca7" Alias="HR Reports" Level="2">
  <Info>
    <Parent Key="ad4ad5d7-e642-4995-9e5c-1c5d14ae735f">Homepage</Parent>
    <Path>/Homepage/HRReports</Path>
    <Trashed>false</Trashed>
    <ContentType>reportList</ContentType>
    <CreateDate>2022-11-16T13:50:28</CreateDate>
    <NodeName Default="HR Reports" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="835d052c-092a-4f3f-ae40-1d3e099d2758">ReportList</Template>
  </Info>
  <Properties>
    <pageMetaDescription>
      <Value><![CDATA[]]></Value>
    </pageMetaDescription>
    <pageMetaTitle>
      <Value><![CDATA[]]></Value>
    </pageMetaTitle>
  </Properties>
</Content>