<?xml version="1.0" encoding="utf-8"?>
<Content Key="10c7b540-a6be-49aa-b153-05ef97de86d6" Alias="Internal Reports" Level="2">
  <Info>
    <Parent Key="ad4ad5d7-e642-4995-9e5c-1c5d14ae735f">Homepage</Parent>
    <Path>/Homepage/InternalReports</Path>
    <Trashed>false</Trashed>
    <ContentType>reportList</ContentType>
    <CreateDate>2022-11-15T03:54:19</CreateDate>
    <NodeName Default="Internal Reports" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="835d052c-092a-4f3f-ae40-1d3e099d2758">ReportList</Template>
  </Info>
  <Properties>
    <pageMetaDescription>
      <Value><![CDATA[]]></Value>
    </pageMetaDescription>
    <pageMetaTitle>
      <Value><![CDATA[]]></Value>
    </pageMetaTitle>
  </Properties>
</Content>