<?xml version="1.0" encoding="utf-8"?>
<Content Key="f57e1865-780c-4dfb-a405-5a829805239c" Alias="Login Page" Level="2">
  <Info>
    <Parent Key="ad4ad5d7-e642-4995-9e5c-1c5d14ae735f">Homepage</Parent>
    <Path>/Homepage/LoginPage</Path>
    <Trashed>false</Trashed>
    <ContentType>loginPage</ContentType>
    <CreateDate>2022-11-21T05:13:19</CreateDate>
    <NodeName Default="Login Page" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4da665a-bf4c-43e5-8262-a0620b4695b6">LoginPage</Template>
  </Info>
  <Properties>
    <pageMetaDescription>
      <Value><![CDATA[]]></Value>
    </pageMetaDescription>
    <pageMetaTitle>
      <Value><![CDATA[Please Sign-in to access MK Digital Reports App ]]></Value>
    </pageMetaTitle>
  </Properties>
</Content>