<?xml version="1.0" encoding="utf-8"?>
<Content Key="43bd59d4-96fd-49c6-94cf-9530c137f0cc" Alias="Salary Fairness Report" Level="3">
  <Info>
    <Parent Key="2519de68-9a0b-4aa8-8980-9f0277ac3ca7">HR Reports</Parent>
    <Path>/Homepage/HRReports/SalaryFairnessReport</Path>
    <Trashed>false</Trashed>
    <ContentType>powerBIReportPage</ContentType>
    <CreateDate>2022-11-21T03:44:01</CreateDate>
    <NodeName Default="Salary Fairness Report" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="66b343e7-3d71-4bfd-8006-e51238cdb61b">PowerBIReportPage</Template>
  </Info>
  <Properties>
    <pageMetaDescription>
      <Value><![CDATA[]]></Value>
    </pageMetaDescription>
    <pageMetaTitle>
      <Value><![CDATA[]]></Value>
    </pageMetaTitle>
    <powerBIEmbeddedReportUrl>
      <Value><![CDATA[https://app.powerbi.com/view?r=eyJrIjoiMDM0YjE3MmYtMTgxMS00YWRlLTk1MmEtNjg1YzY3M2QxY2NkIiwidCI6IjEzNDA0ODkzLTQwODEtNDNjYi05Y2Y3LTI2YTlkZDkzN2YwMiIsImMiOjl9]]></Value>
    </powerBIEmbeddedReportUrl>
    <reportFullDescription>
      <Value><![CDATA[]]></Value>
    </reportFullDescription>
    <reportName>
      <Value><![CDATA[Salary Fairness Report]]></Value>
    </reportName>
    <reportShortDescription>
      <Value><![CDATA[Reports provide all statistics regarding salary fairness in a company.]]></Value>
    </reportShortDescription>
  </Properties>
</Content>