<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc604b3f-f0df-4014-88fc-21f9caf9dbb2" Alias="Sales Report by Ellicium Solutions Pvt Ltd" Level="3">
  <Info>
    <Parent Key="10c7b540-a6be-49aa-b153-05ef97de86d6">Internal Reports</Parent>
    <Path>/Homepage/InternalReports/SalesReportByElliciumSolutionsPvtLtd</Path>
    <Trashed>false</Trashed>
    <ContentType>powerBIReportPage</ContentType>
    <CreateDate>2022-11-21T05:10:08</CreateDate>
    <NodeName Default="Sales Report by Ellicium Solutions Pvt Ltd" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="66b343e7-3d71-4bfd-8006-e51238cdb61b">PowerBIReportPage</Template>
  </Info>
  <Properties>
    <pageMetaDescription>
      <Value><![CDATA[]]></Value>
    </pageMetaDescription>
    <pageMetaTitle>
      <Value><![CDATA[]]></Value>
    </pageMetaTitle>
    <powerBIEmbeddedReportUrl>
      <Value><![CDATA[https://app.powerbi.com/view?r=eyJrIjoiZWNjMjM5MTEtZDI4MS00MmJkLThhNjMtNmEzNDRlZmYzOWVmIiwidCI6IjVmNmQ4NjU0LWE0ODItNDQ4OC1hODY5LWM3NTE0NzRmOGY3YiIsImMiOjEwfQ%3D%3D]]></Value>
    </powerBIEmbeddedReportUrl>
    <reportFullDescription>
      <Value><![CDATA[]]></Value>
    </reportFullDescription>
    <reportName>
      <Value><![CDATA[Sales Report by Ellicium Solutions Pvt Ltd]]></Value>
    </reportName>
    <reportShortDescription>
      <Value><![CDATA[Report prepared by Ellicium Solutions Pvt Ltd presents sales performance data.]]></Value>
    </reportShortDescription>
  </Properties>
</Content>