<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="74a13fee-2baa-4d6f-86d8-dd665db34527" Alias="homepage" Level="1">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="6441d0b5-91c1-4376-bbf5-5230376f3f6b">pageBase</Composition>
    </Compositions>
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="944e7b6e-3f1b-455a-b1ec-9769b635689b">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="df24b082-96ec-4241-984e-af2c4b12bbb6" SortOrder="0">reportList</ContentType>
    <ContentType Key="02e494bb-8d70-4b1d-94de-44c976dc7602" SortOrder="1">loginPage</ContentType>
    <ContentType Key="03e9c5e7-1bad-4b0a-ac10-6fa40ded2f90" SortOrder="2">reportPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>