<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="02e494bb-8d70-4b1d-94de-44c976dc7602" Alias="loginPage" Level="2">
  <Info>
    <Name>Login Page</Name>
    <Icon>icon-door-open color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6441d0b5-91c1-4376-bbf5-5230376f3f6b">pageBase</Composition>
    </Compositions>
    <DefaultTemplate>LoginPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a4da665a-bf4c-43e5-8262-a0620b4695b6">LoginPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>