<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f1a2316e-411b-4283-aabf-12a119bba7d6" Alias="reportPage" Level="2">
  <Info>
    <Name>Report Page - Base</Name>
    <Icon>icon-chart-curve color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6441d0b5-91c1-4376-bbf5-5230376f3f6b">pageBase</Composition>
      <Composition Key="9e3677dd-43dd-4324-9ce5-5a72a2535d45">report</Composition>
    </Compositions>
    <DefaultTemplate>ReportPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a42ed15b-56f4-4b72-8435-5f66e959cf90">ReportPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>