<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df24b082-96ec-4241-984e-af2c4b12bbb6" Alias="reportList" Level="2">
  <Info>
    <Name>Report List Page</Name>
    <Icon>icon-thumbnail-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6441d0b5-91c1-4376-bbf5-5230376f3f6b">pageBase</Composition>
    </Compositions>
    <DefaultTemplate>ReportList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="835d052c-092a-4f3f-ae40-1d3e099d2758">ReportList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="99c522ec-f3f6-4d82-bdcb-c678c9d57784" SortOrder="0">powerBIReportPage</ContentType>
    <ContentType Key="6e92ed63-93ef-4d1c-b73d-dcc7d592b71c" SortOrder="1">textReportPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>