<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6e92ed63-93ef-4d1c-b73d-dcc7d592b71c" Alias="textReportPage" Level="3">
  <Info>
    <Name>Text Report Page</Name>
    <Icon>icon-book color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="f1a2316e-411b-4283-aabf-12a119bba7d6">reportPage</Parent>
    <Compositions>
      <Composition Key="f1a2316e-411b-4283-aabf-12a119bba7d6">reportPage</Composition>
    </Compositions>
    <DefaultTemplate>TextReportPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="31bd6a76-1a6b-4581-9b16-7b66ff244285">TextReportPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e270af43-de1d-4ca1-b073-4cca1b2b114c</Key>
      <Name>Report Content</Name>
      <Alias>reportContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="reportMetadata">Report Metadata</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1beadb22-7890-4425-b797-66781a2e2f89</Key>
      <Caption>Report Metadata</Caption>
      <Alias>reportMetadata</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>